<div class="reserve-outer" data-aos="fade-up" data-aos-duration="2500">
    <div class="parallax-one">
        <div id="parallax-world-of-ugg">
            <section>
                <div class="parallax-two">
                    <h2>Reserve your limousine now!</h2>
                    <div class="reserve" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column"
                        fxLayoutGap="20" fxLayoutAlign="space-around center">
                        <div class="left-card" fxLayout="column">
                            <div>
                                <h3>Luxury and Comfortable Vehicles to Go Well with Every Instance</h3>
                            </div>
                            <div>
                                <ul>
                                    <li>Prom limousine service</li>
                                    <li>Corporate limo service</li>
                                    <li>Hourly limo service</li>
                                    <li>Private car service</li>
                                    <li>Wedding limo service</li>
                                    <li>Airport transfer service</li>
                                    <li>Private Niagara falls tour</li>
                                    <li>Evening out transportation</li>
                                    <li>Bachelor limousine service</li>
                                    <li>Casino limousine</li>
                                </ul>
                            </div>

                        </div>
                        <div class="left-card" fxLayout="column">
                            <div>
                                <h3>Toronto airport limo is entirely about traveling in time, safely, ease and style!
                                </h3>
                            </div>
                            <div>
                                <ul>
                                    <li>In time, anytime</li>
                                    <li>Chauffeur security guarantee</li>
                                    <li>Prearranged chauffeur training course</li>
                                    <li>Late-model and well-maintained vehicles</li>
                                    <li>GPS tracking and direction-finding system</li>
                                    <li>Liability exposure</li>
                                    <li>Vehicles equipped with the latest technological means</li>
                                    <li>Internet access in each vehicle</li>
                                    <li>Proficient team 24/7 for help and confirmation</li>
                                    <li>Child car safety seat</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

</div>