<div class="speakers-outer">
    <div class="speakers">
        <h2>Conference Speakers</h2>
        <div class="cards" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30" fxLayoutAlign="start start">
            <div class="left-card" fxLayout="column">
                <div data-aos="zoom-in">
                    <img src="https://images.pexels.com/photos/8133883/pexels-photo-8133883.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />
                </div>               

            </div>
            <div class="right-card" fxLayout="column" fxLayoutGap="30">
                <div class="section" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30" fxLayoutAlign="center center">
                    <div class="left-sec">
                        <img src="https://media.istockphoto.com/id/1039606566/photo/business-people-listening-to-the-speaker-at-a-conference.jpg?s=612x612&w=0&k=20&c=bwmTcBlilZg5hGgG05UzAtH3xMI8ohQhPZ4vKKKh8j8="/>
                    </div>
                    <div class="right-sec" fxLayoutGap="10" fxLayout="column">
                        <div>
                            <h5>Kyle Bochs</h5>
                        </div>
                        <div>
                            <p>BUSINESSMAN</p>
                        </div>
                        <div>
                            <h6>A small river named Duden flows by their place and supplies A small river named Duden flows by their place and supplies</h6>
                        </div>
                        <div>
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </div>
                    </div>
    
            </div>

            <div class="section" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30" fxLayoutAlign="center center">
                <div class="left-sec">
                    <img src="https://img.freepik.com/premium-photo/speaker-business-conferences-business-training-education-photo-has-blank-text_160672-21380.jpg?w=2000"/>
                </div>
                <div class="right-sec" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10" fxLayout="column">
                    <div>
                        <h5>Arnold Thompson</h5>
                    </div>
                    <div>
                        <p>BUSINESSMAN</p>
                    </div>
                    <div>
                        <h6>A small river named Duden flows by their place and supplies A small river named Duden flows by their place and supplies</h6>
                    </div>
                </div>

        </div>
        <div class="section" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30" fxLayoutAlign="center center">
            <div class="left-sec">
                <img src="https://images.pexels.com/photos/6476783/pexels-photo-6476783.jpeg?auto=compress&cs=tinysrgb&w=600"/>
            </div>
            <div class="right-sec" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10" fxLayout="column">
                <div>
                    <h5>Ryan Sy</h5>
                </div>
                <div>
                    <p>BUSINESSMAN</p>
                </div>
                <div>
                    <h6>A small river named Duden flows by their place and supplies A small river named Duden flows by their place and supplies</h6>
                </div>
            </div>

    </div>

    <div class="section" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30" fxLayoutAlign="center center">
        <div class="left-sec">
            <img src="https://assets.entrepreneur.com/content/3x2/2000/20170409095449-shutterstock-531769240.jpeg"/>
        </div>
        <div class="right-sec" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10" fxLayout="column">
            <div>
                <h5>Alysa Derick</h5>
            </div>
            <div>
                <p>BUSINESSMAN</p>
            </div>
            <div>
                <h6>A small river named Duden flows by their place and supplies A small river named Duden flows by their place and supplies</h6>
            </div>
        </div>

</div>
            </div>

    </div>

</div>