<div class="footer-outer">
    <div class="footer" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="50"
        fxLayoutAlign="space-between start" fxLayoutAlign.md="space-between center"
        fxLayoutAlign.sm="space-between center" fxLayoutAlign.xs="space-between center">
        <div class="sec-a" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center start" data-aos="fade-down"
            data-aos-duration="2500">
            <div>
                <h2>Our Service</h2>
            </div>
            <div>Airport Transfer Service</div>
            <div>Corporate Limo Service</div>
            <div>Private Car Service</div>
            <div>Hourly Serice</div>
            <div>

            </div>
        </div>
        <div class="sec-b" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center start">
            <div>
                <h2>Our Top Cites</h2>
            </div>
            <div>Islamabad</div>
            <div>Bahawalpur</div>
            <div>Lahore</div>

        </div>

        <div class="sec-b" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center start">
            <div>
                <h2> Community</h2>
            </div>
            <div> Facebook</div>
            <div>Instagram</div>
            <div>Twitter</div>
            <div>Pinterest</div>
        </div>
        <div class="sec-b" fxLayout="column" fxLayoutGap="10" fxLayoutAlign="center start" data-aos="fade-down"
            data-aos-duration="2500">
            <div>
                <h2>Contact Us</h2>
            </div>
            <div>Info@bestairportlimotoronto.com</div>
            <div>Toll Free No: 855-777-2855</div>
            <div>Phone No: (647) 244-1960</div>

        </div>
    </div>
    <p class="email" data-aos="fade-up" data-aos-duration="2500">Copyright ©2023 All rights reserved | This template is
        made with by Colorlib</p>
</div>