<div class="gallery-outer">
    <div id="parallax-world-of-ugg">
        <section>
            <div class="parallax-two">
                <h2>Limousine Service Toronto, Customized To Your Requirments</h2>
            </div>
        </section>
    </div>
    <div class="gallery" data-aos="fade-up" data-aos-duration="2000">
        <!-- <h2>Limousine Service Toronto, Customized To Your Requirments</h2> -->
        <div class="card-one" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column"
            fxLayoutGap="25" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutGap="10">
                <div>
                    <img
                        src="https://images.pexels.com/photos/3086277/pexels-photo-3086277.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />
                </div>
                <div>
                    <label>June. 14, 2023 User <mat-icon> message</mat-icon> 3</label>
                </div>
                <div>
                    <h4>Unique Features​</h4>
                    <p>Best limo service Toronto is operated with late-model vehicles. Each vehicle is all set with
                        everything essential for comfortable and safe travel. Our top-notch facilities and memorable
                        ride.</p>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10">
                <div>
                    <img
                        src="https://images.pexels.com/photos/11771585/pexels-photo-11771585.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />
                </div>
                <div>
                    <label>June. 13, 2023 User <mat-icon> message</mat-icon> 5</label>
                </div>
                <div>
                    <h4>You call it, we happily offer​</h4>
                    <p>Best limo service Toronto is operated with late-model vehicles. Each vehicle is all set with
                        everything essential for comfortable and safe travel. Our top-notch facilities and memorable
                        ride.</p>
                </div>
            </div>

            <div fxLayout="column" fxLayoutGap="10">
                <div>
                    <img
                        src="https://images.pexels.com/photos/13275527/pexels-photo-13275527.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" />
                </div>
                <div>
                    <label>June. 12, 2023 User <mat-icon> message</mat-icon> 3</label>
                </div>
                <div>
                    <h4>More than your expectations​</h4>
                    <p>Best limo service Toronto is operated with late-model vehicles. Each vehicle is all set with
                        everything essential for comfortable and safe travel. Our top-notch facilities and memorable
                        ride.</p>
                </div>
            </div>
            <!-- <div fxLayout="column" fxLayoutGap="10">
                <div>
                <img src="https://images.pexels.com/photos/8631554/pexels-photo-8631554.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"/>
                </div>
                <div>
                    <label>June. 15, 2023 User <mat-icon> message</mat-icon> 4</label>
                </div>
                <div>
                    <h4>More than your expectations​​</h4>
                    <p>Best limo service Toronto is operated with late-model vehicles. Each vehicle is all set with everything essential for comfortable and safe travel. Our top-notch facilities and   memorable ride.</p>
                </div>
            </div> -->

        </div>

    </div>

</div>