<div class="venue-outer" data-aos="fade-up" data-aos-duration="2500">
    <h2>Airport Services</h2>
    <div class="venue" fxLayout="row" fxLayoutGap="30" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column"
        fxLayoutAlign="space-evenly center">
        <div fxFlex fxLayout="column" fxLayoutAlign="space-evenly center">
            <div><mat-icon style="color: white;font-size: -webkit-xxx-large;"> location_on</mat-icon></div>
            <div>
                <h6>Venue</h6>
            </div>
            <div>
                <p> 203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>

        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="space-evenly center">
            <mat-icon style="color: white;font-size: -webkit-xxx-large;"> directions_bus</mat-icon>
            <div>
                <h6>Transport</h6>
            </div>
            <div>
                <p> A small river named Duden flows by their place and supplies.</p>
            </div>

        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="space-evenly center">
            <div> <mat-icon style="color: white;font-size: -webkit-xxx-large;"> local_hotel</mat-icon></div>
            <div>
                <h6>Hotel</h6>
            </div>
            <div>
                <p> A small river named Duden flows by their place and supplies. </p>
            </div>

        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="space-evenly center">
            <div><mat-icon style="color: white;font-size: -webkit-xxx-large;"> restaurant_menu</mat-icon></div>
            <div>
                <h6>Restaurant</h6>
            </div>
            <div>
                <p> A small river named Duden flows by their place and supplies.</p>
            </div>

        </div>

    </div>

</div>