<!-- <section id="navbar">
    <app-navigationbar></app-navigationbar>
</section> -->
<section id="carousal">
    <app-carousel></app-carousel>
</section>
<section id="venue">
    <app-venue></app-venue>
</section>
<!-- <section id="test">
    <app-test></app-test>
</section> -->
<section id="about">
    <app-about></app-about>
</section>
<!-- <section id="conference">
    <app-conference></app-conference>
</section> -->
<section id="gallery">
    <app-gallery></app-gallery>
</section>
<section id="reserve">
    <app-reservelimousine></app-reservelimousine>
</section>
<section id="happyclients">
    <app-happyclients></app-happyclients>
</section>
<!-- <section id="speakers">
    <app-speakers></app-speakers>
</section> -->
<section id="subscribe">
    <app-subscribe></app-subscribe>
</section>
<section id="footer">
    <app-footer></app-footer>
</section>


<!-- 
<app-navigationbar></app-navigationbar>
<app-venue></app-venue>
<app-about></app-about>
<app-conference></app-conference>
<app-gallery></app-gallery>
<app-happyclients></app-happyclients>
<app-speakers></app-speakers>
<app-subscribe></app-subscribe>
<app-footer></app-footer> -->
<!-- <app-slider></app-slider> -->