<div class="conference-outer">
    <div class="parallax-one">
       <div  id="parallax-world-of-ugg">
        <section>
            <div class="parallax-two">
        <h2>Conference Schedule</h2>
        </div>
        </section>
       </div>
        <div class="conference" fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="30" fxLayoutAlign="center start"
        fxLayoutAlign.md="space-between center" fxLayoutAlign.sm="space-between center" fxLayoutAlign.xs="space-between center">

            <div class="sec-one" fxLayout="column" fxLayoutAlign="center center">
                <div  class="first">
                    <h5>First Day</h5>
                    <p>1 July 2023</p>
                </div>
                <div  class="first">
                    <h5>Second Day</h5>
                    <p>2 July 2023</p>
                </div>
                <div class="first">
                    <h5>Third Day</h5>
                    <p>3 July 2023</p>
                </div>


            </div>
            <div fxLayout="column" fxLayoutGap="40">
                <div class="sec-two" fxLayout="row" fxLayoutGap="30" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center start" 
                data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="sec-two-one" fxLayout="column" fxLayoutGap="130"  fxLayoutAlign="start center">
                        <div>
                            <img src="https://images.pexels.com/photos/4492189/pexels-photo-4492189.jpeg?auto=compress&cs=tinysrgb&w=400" />
                        </div>
                    </div>
                    <div class="sec-two-two" fxLayout="column" fxLayoutGap="60" fxLayoutAlign="space-evenly center">
                        <div fxLayout="column" fxLayoutGap="10">
                            <div>
                                <h3>Introduction to Business Leaders</h3>
                            </div>
                            <div>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
                                    your mouth.</p>
                            </div>

                            <div>
                                <h5>
                                    09:00 am - 4:30 pm
                                </h5>
                            </div>
                            <div>
                                <h6>20 July 2019 - Hall, Building Los Angeles CA</h6>
                            </div>
                            <div>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
                                    your mouth.</p>
                            </div>

                            <div>
                                <h5>
                                    — Ryan Thompson Founder of Wordpress
                                </h5>
                            </div>
                        </div>
                        </div>

                </div>
                <div class="sec-two" fxLayout="row" fxLayoutGap="30" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
                data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="sec-two-one" fxLayout="column" fxLayoutGap="130"  fxLayoutAlign="start center">
                       
                        <div>
                            <img src="https://previews.123rf.com/images/visivasnc/visivasnc1708/visivasnc170800129/84807446-l%C3%A4chelnde-frau-im-b%C3%BCro-sprechen-am-telefon-und-benutzen-den-computer-der-am-gro%C3%9Fen-schreibtisch.jpg" />
                        </div>
                       
                    </div>
                    <div class="sec-two-two" fxLayout="column" fxLayoutGap="60" fxLayoutAlign="space-evenly center">
                       
                        <div fxLayout="column" fxLayoutGap="10">
                            <div>
                                <h3>Introduction to Business Leaders</h3>
                            </div>
                            <div>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
                                    your mouth.</p>
                            </div>
                            <div>
                                <h5>
                                    09:00 am - 4:30 pm
                                </h5>
                            </div>
                            <div>
                                <h6>20 July 2019 - Hall, Building Los Angeles CA</h6>
                            </div>
                            <div>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
                                    your mouth.</p>
                            </div>

                            <div>
                                <h5>
                                    — Ryan Thompson Founder of Wordpress
                                </h5>
                            </div>
                        </div>
                        

                    </div>

                </div>
                <div class="sec-two" fxLayout="row" fxLayoutGap="30" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start"
                data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                    <div class="sec-two-one" fxLayout="column" fxLayoutGap="130"  fxLayoutAlign="start center">
                        
                        <div>
                            <img src="https://st.focusedcollection.com/14144030/i/650/focused_192152650-stock-photo-man-office-talking-phone-office.jpg" />
                        </div>
                    </div>
                    <div class="sec-two-two" fxLayout="column" fxLayoutGap="60" fxLayoutAlign="space-evenly center">
                        
                        <div fxLayout="column" fxLayoutGap="10">
                            <div>
                                <h3>Introduction to Business Leaders</h3>
                            </div>
                            <div>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
                                    your mouth.</p>
                            </div>
                            <div>
                                <h5>
                                    09:00 am - 4:30 pm
                                </h5>
                            </div>
                            <div>
                                <h6>20 July 2019 - Hall, Building Los Angeles CA</h6>
                            </div>
                            <div>
                                <p>A small river named Duden flows by their place and supplies it with the necessary
                                    regelialia. It is a paradisematic country, in which roasted parts of sentences fly into
                                    your mouth.</p>
                            </div>

                            <div>
                                <h5>
                                    — Ryan Thompson Founder of Wordpress
                                </h5>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>

</div>